@import "../../../src/styles/mixins/padding.scss";
@import "../../../src/styles/mixins/colors.scss";
@import "../../../src/styles/mixins/responsive.scss";


.container {
  @include Padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  margin-top: 150px;
  margin-bottom: 150px;

  @include Mobile{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 75px;
  }

  @include Tablet{
    display: flex;
    gap: 30px;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-left:2rem;
    padding-right: 2rem;
  }

}

.text_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  h1 {
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    color: $white-color;

    @include Mobile{
      font-size: 35px;
    }

    @include Tablet{
      font-size: 40px;
      gap: 25px;
    }

  }

  p {
    font-size: 25px;
    opacity: 0.8;
    margin: 0;
    color: $white-color;

    @include Mobile{
      font-size: 20px;
    }

    @include Tablet{
      font-size: 20px;
    }
  }

}

.action{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  @include Tablet{
    margin-top: 35px;
  }
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 700px;
  height: 700px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;

  @include Mobile{
    display: none;
  }

  @include Tablet{
    width: 350px;
    height: 350px;
  }

}

.image_container::after{
  content: "";
  position: absolute;
  inset: 6px;
  background: $blue-color;
  opacity: 0.5;
  border-radius: 50%;
  z-index: 1;
}


.image_content{
  position: absolute;
  inset: 30px;
  border: 6px solid $yellow-color;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.image_content img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}