@import "./mixins/colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-saira);
  background-color: $purple-color;
  color: $white-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
}

