@import "../../../src/styles/mixins/colors.scss";

.container{
    width: 510px;
    height: 350px;
    padding: 32px 35px;
    background-color: $white-color;

     svg{
        font-size: 4rem;
        color: $green4-color;
    }
}


.text_container{
    h1{
    width: auto;
    font-size: 41px;
    font-weight: 600;
    text-align: left;
    
    color: $purple2-color;
}

    p{
        width: auto;
        font-size:22px;
        font-weight:400;
        text-align: left;

        color: $gray2-color;
    }

}