@import "../../../src/styles/mixins/colors.scss";
@import "../../../src/styles/mixins/padding.scss";


.container{
    @include Padding;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px 2rem;
    margin-bottom: 10rem;

    .text_container{
        span{
            font-size: 30px;
            font-weight: 600;
            color: $green2-color;
        }
        
        h1{
            font-size: 60px;
            font-weight: bold;
            color: $white-color;
        }

        p{
            font-size: 25px;
            font-weight: 300;
            color: $white-color;
        }
    }

    .form_container{
        border-radius: 10px;
        padding: 38px 31px;
        background-color: $white-color;
 

        h1{
            font-size: 35px;
            font-weight: 600;
            color: $purple-color;
            
        }

        form{
            display: grid;
            gap: 25px;
        }
        
    }
}



