@import "../../../src//styles/mixins/colors.scss";
@import "../../../src//styles/mixins/padding.scss";
@import "../../../src//styles/mixins/responsive.scss";



.container {
  @include Padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white-color;
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: $purple-color;
  border-bottom: 0.5px solid $gray-color;

  @include Mobile {
    padding: 0.5rem;
  }

}

.logotipo {
  font-family: var(--font-saira-stencil);
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  text-decoration: none;
  color: var(--text-white);
  cursor: pointer;

  @include Mobile {
    font-size: 25px;
  }
}

.menu {
  font-size: 22px;
  text-transform: uppercase;

  a + a {
    margin-left: 38.9px;
  }

  @include Mobile {
    display: none;
  }

}

.action {
  width: auto;
  display: flex;
  align-items: center;

  @include Mobile {
    display: none;
  }
}
